.cards {

}

.cards__text {
    margin: 0;
    padding: 40px 0 34px;
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 24.8px;
}

.cards__list {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    column-gap: 19px;
    padding-left: 0;
    margin: 0;
}