.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 325px;
    justify-content: center;
}

.card__title {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
    color: rgb(0, 0, 0, .6);
    background-color: #fff;
    position: absolute;
    top: 15px;
    margin: 0;
    padding: 2px 12px;
}

.card__image {
    height: 328px;
    border-color: rgb(0, 0, 0, .3);
    border-style: solid;
    border-width: 1px;
    border-radius: 20px;
}

@media screen and (max-width: 480px) {
    .card {
        flex-wrap: wrap;
        height: 164px;
        width: 164px;
        row-gap: 8px;
    }

    .card__title {
        top: 8px;
    }
    
    .card__image {
        height: 164px;
        width: 164px;
        border-radius: 11px;
    }
}