.toggle-switch {
    width: 56px;
    height: 28px;
    border: 2px solid #7E7E7E;
    border-radius: 20px;
    margin-left: auto;
    cursor: pointer;
    position: relative;
    z-index: 0;
}

.toggle-switch__checkbox {
    opacity: 0;
}   

.toggle-switch__checkbox:checked ~ .toggle-switch__circle {
    left: 26px;
}

.toggle-switch__circle {
    width: 32px;
    height: 32px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    left: -2px;
    top: -2px;
    transition: all .4s; 
    z-index: 1;
}

.toggle-switch__text {
    position: absolute;
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 100%;
    color: #fff;
    top: 7px;
    z-index: 2;
}

.toggle-switch__text-F {
    left: 11px;
}

.toggle-switch__text-C {
    right: 8px;
} 