.header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 32px 0 28px;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: baseline;
}

.header__logo {
    width: 89px;
    padding-right: 24px;
}

.header__date-and-location {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px; 
    margin: 0;
}

.header__add-clothes-btn {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    padding-left: 20px;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    background-color: #f3f3f3;
    border: 0px;     
    padding-right: 20px;
    cursor: pointer;
}

.header__user-container {
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

.header__username {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
}

.header__avatar {
    height: 40px;
    width: 40px;
    align-self: center;
}

@media screen and (max-width: 480px) {
    .header {
        width: 100vw;
    }
    
    .header__container {
        flex-direction: column;
    }

    .header__logo {
        width: 60px;
        padding-left: 2vw;
        padding-right: 6vw;
    }
    
    .header__date-and-location {
        font-size: 16px;
        line-height: 18px; 
        padding: 2vw;
    }
    
    .header__add-clothes-btn {
        font-size: 16px;
        line-height: 18px;
        padding-left: 0;
        padding-right: 0;
        width: 76px;
    }
    
    .header__user-container {
        column-gap: 0;
    }
    
    .header__username {
        font-size: 16px;
        line-height: 18px;
        width: 76px;
    }
    
    .header__avatar {
        height: 30px;
        width: 30px;
        padding-right: 2vw;
    }
}