.header {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 32px 0 28px;
    width: 1360px;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 0 16px 0 0;
}

.header__logo {
    width: 89px;
    height: 40px;
    padding-right: 24px;
}

.header__date-and-location {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px; 
    margin: 0;
    visibility: visible;
}

.header__hamburger {
    visibility: hidden;
    height: 0;
    width: 0;
}

.header__user-container {
    display: flex;
    column-gap: 20px;
    margin-left: auto;
    align-items: center;
}

.header__register {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px; 
    margin: 0;
    padding-left: 20px;
    cursor: pointer;
}

.header__login {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px; 
    margin: 0;
    padding-left: 20px;
    cursor: pointer;
}

.header__add-clothes-btn {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    background-color: #f3f3f3;
    border: 0px;     
    cursor: pointer;
    visibility: visible;
    padding: 0;
}

.header__profile-container {
    display: flex;
    align-content: center;
}

.header__username {
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 40px;
    margin: 0;
    
}

.header__avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    align-self: center;
    visibility: visible;
    object-fit: cover;
}

.header__avatar-placeholder {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: #808080;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: CabinetGrotesk, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 40px;
}

.header__link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: row;
    column-gap: 12px;
}

@media screen and (max-width: 480px) {
    .header {
        width: 343px;
        height: 44px;
        flex-direction: column;
        padding: 0 0 20px;
        margin: 0 auto;
    }
    
    .header__container {
        width: 343px;
        align-items: center;
        padding: 20px 16px 22px;
    }
    
    .header__avatar {
        width: 56px;
        height: 56px;
        padding: 0 20px 0 0;
        visibility: hidden;
    };

    .header__avatar-placeholder {
        width: 56px;
        height: 56px;
    }

    .header__date-and-location {
        visibility: hidden;
        width: 0px;
        height: 0px;
    }

    .header__hamburger {
        visibility: visible;
        width: 44px;
        height: 28px;
        background-color: white;
        border-radius: 10px;
        box-shadow: 0 2px 8px rgb(0, 0, 0, .1);
        margin-left: auto;
        display: flex;
        flex-direction: column;
        row-gap: 8px;
        padding-top: 16px;
    }
    
    .header__line {
        width: 28px;
        height: 2px;
        background-color: #000;
        border-radius: 1px;
        border: none;
        margin: 0 auto;
    }

    .header__link {
        width: 0px;
        column-gap: 0px;
    }

    .header__add-clothes-btn {
        font-size: 16px;
        line-height: 18px;
        padding-left: 0;
        padding-right: 0;
        width: 0;
        visibility: hidden;
        height: 0;
    }
    
    .header__user-container {
        column-gap: 0;
        height: 0px;
        display: block;
        margin: 0;
    }

    .header__username {
        font-size: 24px;
        line-height: 100%;
        visibility: hidden;
        padding-bottom: 4px;
        width: 0;
        height: 0;
    }
}